<nav>
  <div class="platform piccadilly">
    <div class="line"></div>
    <h2><span class="arrow"></span>Piccadilly line</h2>
  </div>
  <div class="platform jubilee">
    <div class="line"></div>
    <h2>Jubilee line<span class="arrow"></span></h2>
  </div>
</nav>
