<div class="front">
  <div class="container">
    <header class="page-header">
      <h1>Green&nbsp;Park Station</h1>
    </header>
    {{> nav }}
  </div>
</div>
<div class="back">
  {{> canvas }}
  {{> canvas }}
</div>
