<div class="front">
  <div class="container">
    <header class="page-header">
      <h1>Green&nbsp;Park Station</h1>
    </header>
    {{> nav }}
    <h3>Can you spot the secret hidden in Green Park Station walls?</h3>
    <p>Go <a href="http://platformtworca.wordpress.com/2009/03/23/secret-in-green-park-station/" target="_blank">here</a> for a hint.</p>
  </div>
  <a href="https://github.com/grancalavera/green-park">
    <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
  </a>
</div>
<div class="back">
  {{> canvas }}
  {{> canvas }}
</div>
