html {
  background-color: rgb(145, 143, 134);
  font-family:sans-serif;
}

body {
  padding:0;
  margin:0;
}

.tile {
  color: white;
  background-color: white;
  position: absolute;
  -webkit-border-radius:2px;
}
