@import "../js/lib/bootstrap/less/bootstrap.less";

// Application variables
@theBackground:rgb(185, 183, 174);
@picadillyColor:rgb(33, 23, 102);
@jubileeColor:rgb(85, 87, 71);
@blankTile:#e1e0d5;
@headerTileSize:40px;

// Bootstrap overrides
@baseFontFamily:Lato, sans-serif;
@bodyBackground:@theBackground;
@textColor: @jubileeColor;
@heroUnitBackground:@theBackground;


.page-header {
  border-bottom:none;
}

// Application styles

body {
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:100;
}

#footer {
  background-color: @blankTile;
}
.tile {
  background-color: @blankTile;
  .border-radius(1px);
}

.tile {
  // position:absolute;
}

.lead .tile {
  margin-left: 4px;
  .square(@headerTileSize);
  display:inline-block;
  .box-shadow(3px 3px 4px @grayLight);
}

.picadilly {
  background-color:@picadillyColor;
}

.jubilee {
  background-color:@jubileeColor;
}
