@narrowWidth: 300px;
@narrowSidesWidth: 40px;
@narrowSignsWidth: @narrowWidth - (@narrowSidesWidth * 2);
@shortFooterHeight: 30px;

@media (max-width: 1023px) {
  h1, h2, h3 {
    line-height: @baseLineHeight * 1.2;
    margin: 3px 0;
  }
  h1 { font-size: @baseFontSize * 1.6; }
  h2 { font-size: @baseFontSize * 1.3; }

  footer {
    height: @shortFooterHeight;
    .container .credit {
      margin: 5px 0;
    }
  }

  section.start .container {
    width: @narrowSignsWidth;
  }

  footer .container {
    font-size: @baseFontSize * 0.7;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    text-align: center;
  }

  section.tunnel .container {
    margin: 0 5px;
  }

  .page-header {
    margin: 3px 0 0;
  }

  .platform {
    .line {
      height: @colorLineHeight - 4;
    }
  }

  nav {
    margin: 5px auto;
    .platform {
      width: @narrowSignsWidth;
      margin-bottom: 4px;
      h2 {
        padding: 0 @signSidePadding * 0.5 @signBottomPadding * 0.5;
        .arrow {
          bottom: -2px;
        }
      }
    }
  }

  section.animated {
    .transitionTransform(0.7s ease-in-out);
  }
}

@media (max-width: 479px) {

  .page-header {
    margin: 25px 0 0;
  }

  section.tunnel .container {
    margin: 0 auto;
    width: @narrowSignsWidth;
  }
  nav {
    .piccadilly, .jubilee {
      float: none;
    }
  }
}
