@signFontSize:@baseFontSize * 2.25;
@singXHeight:@signFontSize * 0.2;
@colorLineHeight: 10px;

@signSidePadding:@singXHeight * 2.5;
@signBottomPadding:@singXHeight * 1.5;

@arrowSize:       30px;
@arrowUp:         0px;
@arrowUpRight:    @arrowSize * -1;
@arrowRight:      @arrowSize * -2;
@arrowDownRight:  @arrowSize * -3;
@arrowDown:       @arrowSize * -4;
@arrowDownLeft:   @arrowSize * -5;
@arrowLeft:       @arrowSize * -6;
@arrowUpLeft:     @arrowSize * -7;

.page-header {
  text-transform:uppercase;
  color:@white;
  background-color:@undDarkBlue;
  text-align:center;
  padding-top:(@baseLineHeight / 2) - 3;
  .undergroundFonts;
  .signShadow;
  .signCorners;
}

nav {
  .clearfix;
  .picadilly {
    .pull-left;
  }
  .jubilee {
    .pull-right;
  }
  margin: 20px 0;
}

.platform {

  .transition(opacity 0.5s ease-out);
  // .opacity(0); this is evil

  width: 300px;
  display:inline-block;
  background-color:@white;
  cursor: pointer;
  .signCorners;
  .signShadow;

  &.jubilee  {
    text-align: right;
    .line {
      background-color:@jubileeColor;
    }
    .arrow {
      margin-left:10px;
      background-position: @arrowRight 0;
    }
  }

  &.picadilly {
    .line {
      background-color:@picadillyColor;
    }
    .arrow {
      margin-right:10px;
      background-position: @arrowLeft 0;
    }
  }

  &:hover {
    .signShadowHover;
    background-color: lighten(@white, 5%);
  }

  .line {
    .lineCorners;
    width:100%;
    height:@colorLineHeight;
  }

  h2 {
    padding: 0 @signSidePadding @signBottomPadding;
    color: @directionalLetteringColor;
    .arrow {
      display:inline-block;
      position:relative;
      bottom: -4px;
      .square(@arrowSize);
      background: url("../img/underground-arrows.svg") transparent no-repeat;
    }
  }
}

